<!DOCTYPE html>
<html>
    <head>
        <title>Booking</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    </head>
    <body class="booking-page">
            
            <nav>
                <h1>Driving School</h1>
                <a href="#">Log out</a>
            
            </nav>

            <div class="booking-container">

             <h2>Book a lesson</h2>

             <div class="slot-card">
                <p>Monday 24 March - 10:00</p>
                <button type="button">Book</button>
            </div>

            <div class="slot-card">
                <p>Tuesday 25 March - 14:00</p>
                <button type="button">Book</button>
            </div>

            <div class="slot-card">
                <p>Friday 28 March - 12:00</p>
                <button type="button">Book</button>
            </div>
                    
            <div class="card">
                <h3>Upcoming Lesson</h3>
                <p>Your next lesson is tomorrow at 10:00</p>
            </div>
        </div>

    </body>


</html>
