<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="dashboard-page">
            <nav>
                <h1>Driving School</h1>
                <a href="/logout">Log out</a>
                
            </nav>

            <div class="dashboard-container">

             <h2>Welcome , {{student.name }}!</h2>

             <div class="card">
                <h3>Your Lessons</h3>
                <p>Lessons completed: {{ student.lessons_done}} / 30</p>
                <p>Lessons remaining: {{30 - student.lessons_done}}</p>
             </div>

            <div class="card">
                <h3>Quick Actions</h3>
                <a href="/booking"><button type="button">Book a Lesson</button></a>
                <a href="/progress"><button type="button">View Progress</button></a>

            </div>

            <div class="card">
                <h3>Upcoming Lesson</h3>
                {% if upcoming_lesson %}
                    <p>Date: {{ upcoming_lesson.date }}</p>
                    <p>Time: {{ upcoming_lesson.time }}</p>
                    <a href="/cancel/{{ upcoming_lesson.id }}">
                        <button type="button" class="btn-danger">Cancel Lesson</button></a>                   
                {% else %}
                    <p>No upcoming lessons. Book one now!</p>
                {% endif %}
            </div>


        </div>  
    </body>

</html>