<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="dashboard-page">
            <nav>
                <h1>Driving School</h1>
                <a href="/logout">Log out</a>
                
            </nav>

            <div class="dashboard-container">

             <h2>Welcome Daris!</h2>

             <div class="card">
                <h3>Your Lessons</h3>
                <p>Lessons completed: 5</p>
                <p>Lessons remaining: 25</p>
                <p>Total: 30</p>
             </div>

             <div class="card">
                <h3>Upcoming Lesson</h3>
                <p>Your next lesson is tomorrow at 10:00</p>
            </div>

             <button type="button">Book a  lesson</button>
        </div>  
    </body>

</html>