<!DOCTYPE html>
<html>
    <head>
        <title>Instructor Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="'dashboard-page">
        <nav>
            <h1>Driving School</h1>
            <a href="/logout">Log out</a>
        </nav>
        <div class="dashboard-container">
            <h2>Welcome, Instructor !</h2>
            <div class="card">
                <h3>Coming Soon</h3>
                <p>Instructor features are being built.</p>
            </div>
        </div>
    </body>
</html>