<!DOCTYPE html>
<html>
    <head>
        <title>Instructor Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="'dashboard-page">
        <nav>
            <h1>Driving School</h1>
            <a href="/logout">Log out</a>
        </nav>
        <div class="dashboard-container">
             <h3>Grade Students</h3>
                <p>Rate your students after each lesson.</p>
                <a href="/instructor/grades">Go to Grades</a>
            </div>
        </div>
    </body>
</html>